.imgCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imgBorder {
    border: 2px solid #ccc; /* 테두리 색상 */
    padding: 5px; /* 테두리 안쪽 여백 */
    border-radius: 5px; /* 테두리 둥글게 */
    display: block;
    margin: 0 auto; /* 중앙 정렬 */
}